<!DOCTYPE html>
<html>
  <head>
  <title>Show History</title>
  </head>
  <body>
    <h2>Travel History</h2>
    <table>
    	<thead>
    		<tr>
    			<th>From</th><th>To</th><th>Location</th><th>Description</th>
    		</tr>
    	</thead>
      <tbody>
          <% @events.each  do |event| %>
            <tr>
              <td><%= event.date_from  %></td>
              <td><%= event.date_to  %></td>
              <td><%= event.location  %></td>
              <td><%= event.description  %></td>
              <td id="edit_btn">
                <a href="/show_history/<%= event.id %>"><button>Edit Entry</button></a>
<!--                 <form action="/show_history/<%= event.id %>" method="get">
                  <input type="hidden" name="_method" value="put">
                  <input type="submit" value="Edit Event">
                </form> -->
              </td> 
            </tr> 
          <% end %>
      </tbody>
    </table>
  </body>
</html>