<ul>
	<li><strong>Event ID:</strong> <%= @event.id %></li>
	<li><strong>Traveled from:</strong> <%= @event.date_from %></li>
	<li><strong>To:</strong> <%= @event.date_to %></li>
	<li><strong>Location:</strong> <%= @event.location %></li>
	<li><strong>Description:</strong> <%= @event.description %></li>
</ul>

<form action="/show_history/<%= @event.id %>" method="post">
	<input type="hidden" name="_method" value="delete">
	<input type="submit" value="Delete Event" name="Delete Event">
</form>
<form action="/show_history/<%= @event.id %>" method="get">
	<a href="/show_history/<%= @event.id %>/edit"><input type="button" value="Modify Event" name="Modify Event" ></a>
</form>
<!-- <form action="/show_history/<%= @event.id %>" method="post">
	<input type="hidden" name="_method" value="delete">
	<input type="submit" value="Delete Event" name="Delete Event">
</form> -->