<ul>
	<li><strong>Event ID:</strong> <%= @event.id %></li>
	<li><strong>Traveled from:</strong> <%= @event.date_from %></li>
	<li><strong>To:</strong> <%= @event.date_to %></li>
	<li><strong>Location:</strong> <%= @event.location %></li>
	<li><strong>Description:</strong> <%= @event.description %></li>
</ul>